.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage*
htmlcov/
coverage.xml
dist/
.direnv/
.secrets/
.env
.env.*
!.env.example
.pypirc
.audit-requirements.txt
build/
*.log
*.egg-info/
gitignore.py
